{% extends 'crud/base.html' %}

{% block content %}
    <div class="col-md-8">
        {% for post in posts %}
            <div class = 'post'>
                <h2><a class="menu-name" href="{% url 'detail' id=post.id %}">{{ post.menu }}</a><h2>
                <div class="delete">
                    <button class="button delete" onclick='location.href="{% url 'delete' id=post.id %}"'>消去</button>
                </div>
                <div class="edit">
                    <button class="button edit" onclick='location.href="{% url 'edit' id=post.id %}"'>編集</button>
                </div>
            </div>
        {% endfor %}
        <div class='sumCalorieList'>
            {% for date in dateList %}
                <p>・{{ date.0 }}</p>
                <p>摂取カロリー：{{ date.1.calorie__sum }}[kcal]</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}